<!-- footer.component.html -->
<footer class="footer">
    <div class="container">
      <!-- Copyright Section -->
      <div class="row">
        <div class="col-12 text-center">
          <p>&copy; 2016 - 2025 House Rent. All Rights Reserved.</p>
        </div>
      </div>
  
      <!-- Footer Links Section -->
      <div class="row justify-content-center">
        <div class="col-auto">
          <a [routerLink]="['/contact-us']" class="footer-link">Contact Us</a>
        </div>
        <div class="col-auto">
          <a [routerLink]="['/about-us']" class="footer-link">About Us</a>
        </div>
        <div class="col-auto">
          <a [routerLink]="['/our-team']" class="footer-link">Our Team</a>
        </div>
        <div class="col-auto">
          <a [routerLink]="['/privacy-policy']" class="footer-link">Privacy Policy</a>
        </div>
        <div class="col-auto">
          <a [routerLink]="['/terms-condition']" class="footer-link">Terms & Condition</a>
        </div>
        <div class="col-auto">
          <a [routerLink]="['/faq']" class="footer-link">FAQ</a>
        </div>
        <div class="col-auto">
          <a [routerLink]="['/refund-policy']" class="footer-link">Refund Policy</a>
        </div>
      </div>
    </div>
  </footer>
  